.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 16px;
    position: fixed;
    z-index: 997;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.nav-brand{
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--main-color);
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.nav-item svg{
    position: relative;
    font-size: 16px;
    color: var(--text-color-1);
}

.nav-item p{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color-1);
}

.nav-item span{
    position: absolute;
    top: -22px;
    right: 30px;
    font-size: 14px;
    background-color: var(--button-color-2);
    color: var(--white-color);
    text-align: center;
    padding: 5px 10px;
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    nav{
        padding: 0 16px;
    }
    .nav-container{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .nav-item p{
        display: none;
    }
    .nav-item span{
        right: -14px;
    }
}

@media screen and (max-width:480px){
    .nav-brand{
        font-size: 20px;
    }
}


.scrolled{
    background-color: var(--button-color-1);
    box-shadow: var(--overlay-color-1) 0px 10px 10px -10px;
}

.scrolled .nav-container ul li svg, .scrolled .nav-container ul li p, .scrolled .nav-container .nav-brand{
    color: var(--white-color);
}

.page-overlay-active{
    display: block !important;
}

.scrolled .nav-item span{
    background-color: var(--text-color-1);
    color: var(--white-color);
}