#login{
    padding-block: 100px;
    min-height: 100vh;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container form{
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    width: 480px;
    height: fit-content;
    background-color: var(--bg-color-3);
}

.form-heading{
    font-size: 35px;
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 32px 0 32px 0;
    color: var(--text-color-1);
}

.form-input{
    display: flex;
    position: relative;
    margin-top: 16px;
}

.form-input svg{
    position: absolute;
    font-size: 18px;
    padding: 16px 20px;
    color: var(--overlay-color-1);
}

.form-input input{
    flex: 1;
    font-size: 18px;
    border: none;
    padding: 16px 16px 16px 58px;
}

.form-input input:focus{
    outline: none;
}

.form-input input::placeholder{
    font-size: 18px;
    color: var(--overlay-color-1);
}

.form-container form span{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
}

.form-container form input[type='checkbox']{
    appearance: none;
    background-color: var(--white-color);
    margin: 0;
    font: inherit;
    width: 16px;
    height: 16px;
    border: 1px solid var(--overlay-color-1);
}

.form-container form input[type='checkbox']:checked{
    background-color: var(--button-color-1);
}

.form-container form input[type='submit']{
    font-size: 18px;
    margin-top: 32px;
    width: 100%;
    text-transform: uppercase;
}

.form-container form label{
    color: var(--text-color-2);
    font-size: 18px;
}

.form-container form p{
    font-size: 18px;
    color: var(--overlay-color-2);
    margin: 48px 0 16px 0;    
    text-align: center;
}

.form-container form p a{
    color: var(--overlay-color-2);
}

.form-container form p:last-child{
    margin-bottom: 0;
}

.form-auth{
    display: flex;
    gap: 10px;
}

.form-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    padding: 10px;
    background-color: var(--white-color);
    cursor: pointer;
    text-decoration: none;
}

.form-links:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.form-links:first-child{
    color: var(--icon-color);
}

.form-links:last-child{
    margin-top:auto;
    color: var(--text-color-1);
}

.form-links img{
    width: 20px;
}

.validation-error-message{
    margin-top: 16px;
    font-size: 16px;
    color: red;
}

@media screen and (max-width: 480px) {
    .form-container form{
        width: 100%;
        padding: 8px 16px;
    }

    .form-heading{
        font-size: 30px;
    }

    .form-input svg{
        font-size: 16px;
        padding: 16px 15px;
    }
    
    .form-input input{
        font-size: 16px;
        padding-left:46px;
    }

    .form-container input[type='submit']{
        font-size: 16px;
    }

    .form-links{
        font-size: 15px;
    }

    .form-container form label{
        font-size: 16px;
    }
}

