#login{
    min-height: 90vh;
    padding-top: 150px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 48px;
    width: 500px;
    height: fit-content;
    background-color: var(--bg-color-3);
    gap: 16px;
}

.form-heading{
    font-size: 45px;
    align-self: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 32px;
}

.form-container form span{
    display: flex;
    align-items: center;
    gap: 5px;
}



.form-container form input[type='email'], .form-container form input[type='password']{
    font-size: 20px;
    border: none;
    padding: 16px 32px;
}

.form-container form input[type='checkbox']{
    appearance: none;
    background-color: var(--white-color);
    margin: 0;
    font: inherit;
    width: 16px;
    height: 16px;
    border: 1px solid var(--overlay-color-1);
}
.form-container form input[type='checkbox']:checked{
    background-color: var(--button-color-1);
}

.form-container form input[type='submit']{
    font-size: 18px;
    text-decoration: none;
    background-color: var(--button-color-1);
    color: var(--white-color);
    padding: 16px 32px;
    border: 2px solid var(--button-color-1);
    text-transform: uppercase;
    margin-top: 32px;
}

.form-container form label{
    color: var(--overlay-color-2);
}

.form-container form p{
    font-size: 20px;
    color: var(--overlay-color-2);
    padding: 48px 32px 8px 32px;
    text-align: center;
}

.form-container form p a{
    color: var(--overlay-color-2);
}

.form-container form p:last-child{
    padding-bottom: 0;
}

.form-auth{
    display: flex;
    gap: 10px;
}

.form-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 5px;
    background-color: var(--white-color);
    border: 1px solid var(--overlay-color-1);
    cursor: pointer;
}

.form-links:first-child{
    color: var(--icon-color);
}

.form-links:last-child{
    color: var(--text-color-1);
}

.form-links img{
    width: 25px;
}