#product{
    padding-top: 90px;
}
.product-container{
    display: flex;
    justify-content: center;
    min-height: 600px;
}

.product-left-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.product-img-display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.product-img-display img{
    height: 100%;
    width: 100%;
}

.product-img-list{
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.product-img-item img{
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
}
.product-img-item{
    height: 100px;
    width: 100px;
    box-shadow: 0 0 10px var(--overlay-color-1);
    transition: transform 0.3s;
}

.product-img-item:hover{
    transform: scale(1.1);
}

.product-right-container{
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    width: 50%;
    height: inherit;
    background-color: var(--bg-color-3);
}

.product-headers{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--overlay-color-1);
    padding-bottom: 10px;
    margin-bottom: 32px;
}

.product-heading{
    font-size: 40px;
    font-weight: 800;
}

.product-headers h2{
    color: var(--text-color-2);
    padding:  0 0 10px 0;
    padding: 3px 16px;
    font-weight: 700;
    align-self: start;
    font-size: 18px;
    margin-top: 5px;
    background-color: var(--bg-color-2);
    border: 2px solid var(--bg-color-1);
}
.product-right-container h2 svg{
    color: var(--rating-color-1);
    font-size: 15px;
    margin-left: 2px;
    padding-bottom: 1.5px;

}

.product-right-container > p{
    margin-bottom: 32px;
    text-align: justify;
}

.product-price{
    font-size: 32px;
}

.product-quantity-container{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    width: 30%;
}


.product-quantity-container button{
    flex: 1;
    font-size: 24px;
    border: none;
    background-color: var(--button-color-1);
    color: var(--white-color);
    padding: 5px 0;
}

.product-quantity-container button:hover{
    background-color: var(--text-color-1);
}

.product-quantity-container p{
    flex: 1;
    font-size: 24px;
    text-align: center;
    background-color: var(--white-color);
    padding: 5px 0;
}

.product-btns{
    display: flex;
    gap: 10px;
}

.product-btns button{
    width: 50%;
    text-transform: uppercase;
    text-align: center;
}

.product-btns button svg{
    font-size: 18px;
    padding-right: 5px;
}

.product-btns button:nth-child(1){
    font-size: 18px;
    background-color: var(--button-color-1);
    color: var(--white-color);
    padding: 16px 32px;
    border: 2px solid var(--button-color-1);
}

.product-btns button:nth-child(2){
    font-size: 18px;
    background-color: var(--white-color-);
    color: var(--text-color-1);
    padding: 16px 32px;
    border: 2px solid var(--text-color-1);
}

.product-btns button:nth-child(1):hover{
    background-color: var(--white-color);
    color: var(--button-color-1);
}

.product-btns button:nth-child(2):hover{
    background-color: var(--text-color-1);
    color: var(--white-color);
}

@media screen and (max-width:1024px) {
    .product-btns button{
        padding-inline: 16px !important;
        font-size: 15px !important;
    }
    .product-btns button svg{
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .product-container{
        flex-direction: column;
    }

    .product-left-container, .product-right-container{
        width: 100%;
    }

}

@media screen and (max-width:480px) {
    .product-btns{
        flex-direction: column;
    }
    .product-btns button{
        width: 100%;
    }
}
