.browse-product-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    padding: 32px 0;
}

.browse-product-grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.browse-product-grid::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}


@media screen and (max-width:1024px) {
    .browse-product-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    .browse-product-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .browse-product-grid{
        grid-template-columns: 1fr
    }
}