.product-card{
    border: 2px solid var(--overlay-color-1);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.product-card:hover{
    border: 2px solid var(--text-color-1);
}

.product-card-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-img{
    width: 210px;
}

.product-card2-img{
    width: 100%;
}

.product-card-content{
    padding: 10px;
}

.product-card-content p{
    margin-top: 15px;
}

