.cart-item{
    width: 100%;
    height: 150px;
    display: flex;;
    border: 1px solid var(--text-color-1);
}



.cart-item-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart-item-img{
    flex: 1;
}

.cart-middle{
    flex: 1.5;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item svg{
    font-size: 18px;
    padding: 16px;
}