.filter-container{
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.back-link{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.back-link p, .back-link svg{
    font-size: 16px;
    font-weight: 600;
}

.filter-content{

    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-1);
    min-height: 100px;
    padding: 16px;

}

.filter-header{
    display: flex;
    flex-direction: column;
}

.filter-header h2{
    flex: 1;
    align-self: center;
}

.category-filter{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-top: 24px;
    flex-wrap: wrap;
}

.category-filter li{
    padding: 5px 10px;
    border: 2px solid var(--overlay-color-1);
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
}