.filter-container{
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.back-link{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.back-link p, .back-link svg{
    font-size: 16px;
    font-weight: 600;
}

.filter-content{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-3);
    min-height: 100px;
    padding: 16px;
    position: relative;
}

.filter-header{
    display: flex;
    flex-direction: column;
}

.filter-header h2{
    flex: 1;
    align-self: center;
}

.category-filter{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-top: 24px;
    flex-wrap: wrap;
}

.category-filter li{
    padding: 5px 10px;
    border: 2px solid var(--overlay-color-1);
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
}

.arrange-items{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px 16px 0 0;
    z-index: 1;
}

.arrange-items svg{
    text-align: right;
    font-size: 24px;
    color: var(--text-color-1);
    cursor: pointer;
}

.arrange-items-dropdown{
    background-color: var(--bg-color-4);
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.arrange-items-active{
    max-height: 85px;
}

.arrange-items-dropdown li{
    font-size: 16px;
    padding:5px;
    color: var(--white-color);
    cursor: pointer;
}
