footer{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: var(--bg-color-3);
}

/* ------------------ Upper footer ------------------ */

.upper-footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 30px 15px 30px;
}

.upper-footer-content{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.upper-footer-content p{
    flex: 1;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-color-1);
}

.upper-footer-content form{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-footer-content form input[type='email']{
    font-size: 20px;
    border: none;
    padding: 8px 16px;
}

.upper-footer-content form input[type='email']:focus{
    outline: none;
}

.upper-footer-content form input[type='submit']{
    font-size: 20px;
    padding: 8px 16px;
    text-transform: capitalize;
    border: none;
    background-color: var(--button-color-1);
    color: var(--white-color);
    text-transform: uppercase;
}

/* ------------------ Middle footer ------------------ */

.middle-footer{
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 60px 30px;
}

.middle-footer-content{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.middle-footer-content div ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.middle-footer-content div ul li a{
    text-decoration: none;
    color: var(--text-color-2);
    font-weight: 500;
    font-size: 18px;
}

.middle-footer-content div ul li a svg{
    text-decoration: none;
    color: var(--text-color-1);
    font-weight: 500;
    font-size: 18px;
}

.middle-footer-content div:last-child ul{
    flex-direction: row;
}

.footer-link-heading{
    font-size: 24px;
    margin-bottom: 32px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--text-color-1);
    padding-right: 15px;
}




/* ------------------ Lower footer ------------------ */

.lower-footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    color: var(--white-color);
    background-color: var(--text-color-1);
}


@media screen and (max-width:1200px) {

    .upper-footer-content{
        width: 976px;
    }
    .middle-footer-content{
        width: 976px;
    }
}

@media screen and (max-width:1024px) {

    .upper-footer{
        padding-inline: 16px ;
    }
    .middle-footer{
        padding-inline: 16px ;
    }
    .lower-footer{
        padding-inline: 16px ;
    }


    .upper-footer-content{
        width: 100%;
    }

    .upper-footer-content p{
        font-size: 20px;
    }

    .upper-footer-content form input{
        font-size: 18px !important;
    }

    .middle-footer-content{
        width: 100%;
    }

    .footer-link-heading{
        font-size: 20px;
    }

    .middle-footer-content div ul li a{
        font-size: 17px;
    }    
}

@media screen and (max-width:768px) {
    .upper-footer-content{
        flex-direction: column;
    }

    .upper-footer-content form{
        align-self: flex-start;
    }

    .upper-footer-content form input{
        font-size: 16px !important;
    }

    .upper-footer-content p{
        margin-bottom: 24px;
        font-size: 18px;
    }

    .footer-link-heading{
        font-size: 18px;
    }

    .middle-footer-content div ul li a{
        font-size: 16px;
    }

    .middle-footer-content div ul li a svg{
        font-size: 14px;
    }
}

@media screen and (max-width:480px) {

    .upper-footer-content form input[type='submit']{
        width: 100%;
    }

    .middle-footer-content div ul li a{
        font-size: 15px;
    }
}