@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Montserrat:wght@400;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Jura:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Kanit:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color-1: #F0DFD8;
    --bg-color-2: #F6F7F9;
    --bg-color-3: #F8F3F0;
    --bg-color-4: #eeaa91;
    --button-color-1: #D5977E;
    --button-color-2: #ec784a;
    --text-color-1: #222222;
    --text-color-2: #5E5A5A;
    --white-color: #ffffff;
    --overlay-color-1: rgba(0, 0, 0, 0.3);
    --overlay-color-2: rgba(0, 0, 0, 0.5);
    --rating-color-1: rgb(0, 139, 0);
    --icon-color: #3d5a98;

}

.resize-animation-stopper * {
    transition: none !important;
}

.hidden{
    overflow: hidden;
}
  
html{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#page-overlay{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--overlay-color-2);
    transition: all .3s ease-in;
    z-index: 998;
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px var(--overlay-color-1);
	background-color: var(--bg-color-2);
}

html::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--bg-color-2);
}

html::-webkit-scrollbar-thumb
{
	background-color: var(--button-color-1);
}

/* --------------- Section -------------- */

section{
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px 0 30px;
    overflow: hidden;
}

.container{
    position: relative;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.section-btn{
    font-size: 18px;
    text-decoration: none;
    background-color: var(--button-color-1);
    color: var(--white-color);
    padding: 16px 32px;
    align-self: flex-start;
    border: 2px solid var(--button-color-1);
}

.section-btn:hover{
    background-color: var(--white-color);
    color: var(--button-color-1);
}

.section-heading{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid var(--button-color-1);
}

.body-text{
    font-size: 18px;
    line-height: 35px;
    color: var(--text-color-2);
    font-weight: 400;
    letter-spacing: 1px;
}

@media screen and (max-width:1200px) {

    section{
        padding-inline: 16px;
    }

    .container{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .body-text{
        letter-spacing: normal;
    }   
}

