#trending{
    min-height: 60vh;
    background-color: var(--bg-color-4);
}

.trending-container{
    display: flex;
    flex-direction: column;
}

.trending-upper-container{
    display: flex;
    justify-content: space-between;
}

.trending-navigator{
    display: flex;
    gap: 10px;
}

.trending-navigator svg{
    font-size: 18px;
    padding: 10px;
    background-color: var(--text-color-1);
    color: var(--white-color);
}